Django==2.2.18
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/django@nonrel-1.5
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
ics
psycopg2-binary==2.8.3
discord
requests