{% extends 'base.html' %}
{% load static %}

<!-- put main code here -->
{% block content %}

<div class="card">
    <div class="card-content">
        <p class="title">
            "Life is a journey"
        </p>
        <p class="subtitle">
            Dad
        </p>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
                View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
            </span>
        </p>
        <p class="card-footer-item">
            <span>
                Share on <a href="#">Facebook</a>
            </span>
        </p>
    </footer>
</div>

{% endblock %}