{% extends 'base.html' %}
{% load static %}

<!-- put main code here -->
{% block content %}

<center>
    <form method="POST" action="login">
        {% csrf_token %}
        <div class="field" style="width:50%;">
            <fieldset class="form-group">
                <label class="label">Username</label>
                <div class="control">
                    <input id="username" name="username" class="input" type="username" placeholder="username"/>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="label">Password</label>
                <div class="control">
                    <input id="password" name="password" class="input" type="password" placeholder="********"/>
                </div>
            </fieldset>
            {% if error %}
            <br>
            <div class="notification is-danger"r">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endif %}
            <br>
            <div class="control">
                <button type="submit" id="loginButton" class="button is-success">Login</button>
            </div>
            <br>
            <a href="{% url 'signup'  %}" style="color: blue;">Don't have an account? Sign up here!</a>
        </div>
    </form>
</center>
{% endblock %}