<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://media.discordapp.net/attachments/771416611092692992/792773588099923968/unknown.png"
                width="112" height="28">
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-danger" href="signup">
                        <strong>Sign Up</strong>
                    </a>
                    <a class="button is-success" href="login">
                        <strong>Login</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>