<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://media.discordapp.net/attachments/771416611092692992/792773588099923968/unknown.png"
                width="112" height="28">
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if not request.user.is_authenticated %}
                    <a class="button is-danger" href="{% url 'signup' %}">
                        <strong>Sign Up</strong>
                    </a>
                    <a class="button is-success" href="{% url 'login' %}">
                        <strong>Login</strong>
                    </a>
                    {% else %}
                    <a class="button is-light" href="{% url 'dashboard' %}">
                    </a>
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            <button class="button is-outlined" aria-haspopup="true" aria-controls="dropdown-menu4">
                                <span class="icon is-small">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <span><strong>{{ user.email }}</strong></span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content">
                            <a class="button is-white is-fullwidth" href="{% url 'dashboard' %}">
                                <strong>Dashboard</strong>
                            </a>
                            <a class="button is-white is-fullwidth" href="{% url 'logout' %}">
                                <strong>Logout</strong>
                            </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>