{% extends 'base.html' %}
{% load static %}

<!-- put main code here -->
{% block content %}

<center>
    <div class="field" style="width:50%;">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="John Doe">
        </div>
        <br>
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="email" placeholder="name@domain.edu">
        </div>
        <br>
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" placeholder="*********">
        </div>
        <br>
        <label class="label">Retype Password</label>
        <div class="control">
            <input class="input" type="password" placeholder="*********">
        </div>
        <br>
        <label class="label">Phone Number</label>
        <div class="control">
            <input class="input" type="number" placeholder="123-456-7890">
        </div>
        <br>
        <div class="control">
            <button id="signUpButton" class="button is-danger">Sign Up</button>
        </div>
    </div>
</center>

{% endblock %}